.HomeMain{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(186.52deg, #6D6BDE 5.13%, #5553B7 24.24%);
}
.homeContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.updateHomeButton{
    font-family: 'Mulish';
    font-style: normal;
    font-size: 46px;
    padding: 24px;
    cursor:pointer;
    transition-duration: 0.4s;
    border: #6D6BDE solid;
    border-radius: 40px;
    background-color: #090836;
    color:#f4f4f9;
}
